
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
{% endblock %}
<title>Password Reset Form</title>
{% block content %}
  <div class="password_container">
   
<h2>Password Reset Sent</h2>
<p>An email has been sent to your email address with instructions to reset your password. Please check your inbox.</p>

<a href="{% url 'login' %}" class="back_to_login">Go back to Login</a>
  </div>
{% endblock %}
