{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_activity.css' %}">
{% endblock extra_css %}

    
<div class="create-activity-container" style="left: 26%;">
       
  <h1 class="create_activity_heading">Register Yourself Here</h1>
      
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}


          {% if form.non_field_errors %}
            <div class="error-message">
              {{ form.non_field_errors }}
            </div>
          {% endif %}

          {% for field in user_form %}
            <div class="reg-form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <div class="error-message">
                  {{ field.errors }}
                </div>
              {% endif %}
            </div>
          {% endfor %}
    
          {% for field in student_form %}
            <div class="reg-form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <div class="error-message">
                  {{ field.errors }}
                </div>
              {% endif %}
            </div>
          {% endfor %}
          
          
            <button type="submit" class="btn btn-submit" style="margin-bottom: 20px;">Register</button>
          
        </form>
      </div>
    
  </div>

  
</body>
</html>
