{% extends 'main.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/logout.css' %}" />
{% endblock extra_css %}
    {% block content %}
    <div class="logout_container">
        <form method="post">
            {% csrf_token %}
            <p class="logout_p">Are you sure you want to delete this student account"?</p>
            <div class="logout_button_container">
                <button type="submit" class="logout_btn">Yes, Sure</button>
                <a class="logout_btn" href="{% url 'all_students' %}"> Cancel </a>
                

            </div>
        </form>
    </div>
    {% endblock content %}