@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
font-family: 'Poppins', sans-serif;
background-color: rgba(245, 245, 245, 0.878);
}

.create-activity-container {
    width: 50vw;
    position: fixed; 
    left: 30%;
   margin-top: 5%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    max-height: 80vh; 
    overflow-y: auto; 
    padding: 20px; 
    background-color: #fff;
}

label{
    font-weight: bold;
}
.create_activity_heading {
    color: #0f3243;
    width: 100%;
    text-align: center;
    margin-bottom: 20px; 
}
.btn-submit{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    margin-top: 1rem;
    border: 1px solid #0f3243;
    background-color: #0f3243;
    font-weight: 600;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.15s;
}
.btn-submit:hover{
    background-color: white;
    color: #0f3243;
    border: 1px solid #0f3243;
}
.form-group {
    margin-bottom: 15px; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"], 
input[type="date"],
input[type="number"],
select,
textarea,
#id_activity_status{
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
   
}

input[type="date"]{
    margin-bottom: 1rem;
}
label[for="id_department_0"],
label[for="id_department_1"],
label[for="id_department_2"],
label[for="id_department_3"],
label[for="id_department_4"],
label[for="id_department_5"],
label[for="id_department_6"],
label[for="id_department_7"],
label[for="id_department_8"],
label[for="id_department_9"] {
    
    font-weight: bold;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0.5rem 0;
    padding-right: 1rem;

}
#id_department_0,
#id_department_1,
#id_department_2,
#id_department_3,
#id_department_4,
#id_department_5,
#id_department_6,
#id_department_7,
#id_department_8,
#id_department_9{
    width: max-content;
}
label[for="id_department_0"]{
    padding-top: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.241);
}
label[for="id_department_9"]{
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.241);
}

label[for="id_Profile_photo"],
label[for="id_Xth_marksheet"],
label[for="id_XIIth_marksheet"],
label[for="id_Diploma_Firstyear_marksheet"],
label[for="id_Diploma_Secondyear_marksheet"],
label[for="id_Diploma_Thirdyear_marksheet"],
label[for="id_sem1_marksheet"],
label[for="id_sem2_marksheet"],
label[for="id_sem3_marksheet"],
label[for="id_sem4_marksheet"],
label[for="id_sem5_marksheet"],
label[for="id_sem6_marksheet"],
label[for="id_sem7_marksheet"],
label[for="id_sem8_marksheet"],
label[for="id_PROFILE_PHOTO"]{
    
    display: block;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }