{% extends 'main.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/activities.css' %}" />
{% endblock extra_css %}


{% block content %}

<h1 class="activity_heading">Activities</h1>

<div class="list-container" id="listContainer">
  {% for activity in page_obj %}
  <div class="list-item" data-status="{{ activity.activity_status }}">
    <div class="list-item-left">
      <div class="logo">
        <img src="{{ activity.company_logo.url }}" alt="Company Logo" />
      </div>
      <div class="dates">
        <div class="drive-title">{{ activity.title }}</div>
        <div class="post-date">Posted on: {{ activity.creation_date }} </div>
        <div class="post-date">Date of Drive: {{ activity.activity_date }} | Last Date: {{ activity.application_last_date }}  |  <span class="status-text {{ activity.activity_status | lower }}">{{ activity.activity_status }}</span> </div>
      </div>
    </div>
    <div class="list-item-right">
      <div class="list-read-more">
        <a href="{% url 'activity' activity.activity_id %}">Read more</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


 
{% endblock %}
