{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/all_drives.css' %}" />
{% endblock extra_css %}

{% block content %}

<h1 class='all_drives_heading'>Drives</h1>

<div class="list-container" id="listContainer">
  
  {% for drive in page_obj %}
  <div class="list-item" data-status="{{ drive.drive_status }}">
    <div class="list-item-left">
      <div class="logo">
        <img src="{{ drive.company_logo.url }}" alt="Company Logo">
      </div>
      <div class="dates">
        <div class="drive-title">{{ drive.title }}</div>
        <div class="post-date">Posted on: {{ drive.creation_date }}</div>
        <div class="post-date">Date of Drive: {{ drive.date }} | Last Date: {{ drive.application_last_date }}  |  <span class="status-text {{ drive.drive_status | lower }}">{{ drive.drive_status }}</span></div>
      </div>
    </div>
    <div class="list-item-right">
      <div class="list-read-more list-read-more-shadow">
        <a href="{% url 'drive' drive.drive_id %}">Read more</a>
      </div>
    </div>
  </div>
  {% endfor %}
  
</div>




{% endblock %}
