{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
  
{% endblock extra_css %}
{% block content %}



<div class="list-container" id="listContainer" style="display: block;">
  
  {% for drive in page_obj %}
  <div class="list-item" data-status="{{ drive.drive_status }}">
    <div class="list-item-left">
      <div class="logo">
        <img src="{{ drive.company_logo.url }}" alt="Company Logo">
      </div>
      <div class="dates">
        <div class="drive-title">{{ drive.title }}</div>
        <div class="post-date">Posted on: {{ drive.creation_date }}</div>
        <div class="post-date">Date of Drive: {{ drive.date }} | Last Date: {{ drive.application_last_date }}  |  <span class="status-text {{ drive.drive_status | lower }}">{{ drive.drive_status }}</span></div>
      </div>
    </div>
    <div class="list-item-right">
      <div class="list-read-more list-read-more-shadow">
        <a href="{% url 'drive' drive.drive_id %}">Read more</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Pagination controls -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script>

    // Change button shadow color based on status
    const updateButtonShadowColor = (elements, baseClass) => {
        elements.forEach(element => {
            const status = element.getAttribute("data-status");
            const btnParent = element.querySelector("div");
            if (status === "Upcoming") {
                btnParent.classList.add(`${baseClass}-shadow-yellow`);
            } else if (status === "Active") {
                btnParent.classList.add(`${baseClass}-shadow-green`);
            } else if (status === "Closed") {
                btnParent.classList.add(`${baseClass}-shadow-red`);
            }
        });
    };

    const cardButtons = document.querySelectorAll(".card .btn");
    updateButtonShadowColor(cardButtons, "btn");

    const listButtons = document.querySelectorAll(".list-item .list-read-more");
    updateButtonShadowColor(listButtons, "list-read-more");
});
</script>

{% endblock %}
