{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_activity.css' %}">
{% endblock extra_css %}

{% block content %}

        <div class="create-activity-container">
            <h2 class="create_activity_heading">Create Activity</h2>
            <form id="create_activity_form"  method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-submit">Create</button>
            </form>
        </div>
   
       

{% endblock content %}








