
    
<!-- templates/list_booklets.html -->
{% extends 'main.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lists_booklets.css' %}" />
  {% endblock extra_css %}
{% block content %}




{% if request.user.is_authenticated and request.user.user_type != 'Student' %}
<div class="notice_button">
    
    <a href="{% url 'upload_booklet' %}"><button id="create_activity">Upload Booklet</button></a>

  </div>
  {% endif %}
  <h1 class="booklet_heading">Booklets</h1>
<div class="list-container" id="listContainer">
    
    {% for booklet in unique_booklets %}
        <div class="booklet-item">
            <div class="booklet-left">
                <div class="booklet-thumbnail logo">
                    <img src="{{ booklet.company_logo.url }}" alt="{{ booklet.company_name }} Thumbnail">
                </div>
                <div class="booklet-info">
                    <div class="booklet-title">{{ booklet.company_name }}</div>
                    <div class="booklet-date">Uploaded on {{ booklet.creation_date }}</div>
                    <div class="booklet-department">
                        Departments:
                        {% for department in booklet.department.all %}
                            {{ department.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                {% if request.user.is_authenticated and request.user.user_type != 'Student' %}
                    <a href="{% url 'delete-booklet' booklet.id %}" class="booklet-link">Delete Booklet</a>
                    <a href="{% url 'update-booklet' booklet.id %}" class="booklet-link">Edit Booklet</a>
                {% endif %}
                <a href="{{ booklet.booklet.url }}" class="booklet-link" target="_blank">View Booklet</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock%}
