{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MGMU Training And Placement Portal{% endblock title %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/trailcard.css' %}" /> 

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}" />  -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/exists.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" /> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/coordinator_profile.css' %}" /> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" /> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/my_applications.css' %}" /> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}" />

  
  
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'> 
  {% block extra_css %}

  {% endblock extra_css %}
  
</head>
<body>

{% include "sidebar.html" %}
  {% block content %}
  {% endblock content %}
  
 
  
</body>
</html> 